@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #161616;
  
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #e9e6df;
  border-radius: 4px !important;
}

::-webkit-scrollbar-track {
  background-color: #161616;
  margin: 10px 0;
}

@font-face {
  font-family: 'BeVietnam' ;
  src: url('../../public/fonts/BeVietnamPro-Variable.ttf');
}
@font-face {
  font-family: 'Vintage';
  src: url('../../public/fonts/Vintage\ Waves.ttf');
}
@font-face {
  font-family: 'Cabinet';
  src: url('../../public/fonts/CabinetGrotesk-Variable.ttf');
}

.fontBeVietnam{
  font-family: 'BeVietnam', sans-serif;
}
.fontVintage{
  font-family: 'Vintage', sans-serif;
}
.fontCabinet{
  font-family: 'Cabinet', sans-serif;
}

/* anima imgs */
@keyframes anima1 {
  0% {
    transform: translate(0, 0);
    background-image: url(../../public/imgs/image1.png);
  }
  30% {
    transform: translate(-30px, 10px);
    background-image: url(../../public/imgs/image1.png);
  }
  31% {
    background-image: url(../../public/imgs/image1-2.png);
  }
  60% {
    transform: translate(20px, 40px);
    background-image: url(../../public/imgs/image1-2.png);
  }
  61% {
    background-image: url(../../public/imgs/image1-3.png);
  }
  80% {
    transform: translate(-10px, 20px);
    background-image: url(../../public/imgs/image1-3.png);
  }
  99% {
    transform: translate(0, 0);
    background-image: url(../../public/imgs/image1-3.png);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes anima2 {
  0% {
    transform: translate(0, 0);
    background-image: url(../../public/imgs/image2.png);
  }
  30% {
    transform: translate(-30px, 10px);
    background-image: url(../../public/imgs/image2.png);
  }
  31% {
    background-image: url(../../public/imgs/image2-2.png);
  }
  60% {
    transform: translate(20px, 40px);
    background-image: url(../../public/imgs/image2-2.png);
  }
  61% {
    background-image: url(../../public/imgs/image2-3.png);
  }
  80% {
    transform: translate(-10px, 20px);
    background-image: url(../../public/imgs/image2-3.png);
  }
  99% {
    transform: translate(0, 0);
    background-image: url(../../public/imgs/image2-3.png);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes anima3 {
  0% {
    transform: translate(0, 0);
    background-image: url(../../public/imgs/image3.png);
  }
  30% {
    transform: translate(-30px, 10px);
    background-image: url(../../public/imgs/image3.png);
  }
  31% {
    background-image: url(../../public/imgs/image3-2.png);
  }
  60% {
    transform: translate(20px, 40px);
    background-image: url(../../public/imgs/image3-2.png);
  }
  61% {
    background-image: url(../../public/imgs/image3-3.png);
  }
  80% {
    transform: translate(-10px, 20px);
    background-image: url(../../public/imgs/image3-3.png);
  }
  99% {
    transform: translate(0, 0);
    background-image: url(../../public/imgs/image3-3.png);
  }
  100% {
    transform: translate(0, 0);
  }
}
.image-animation1 {
  animation: anima1 30s ease-in-out -7s infinite;
  transform: translateZ(0);
  top: 170px;
  right: 0;
  width: 500px;
  height: 280px;
  background-image: url(../../public/imgs/image1.png);
  background-size: contain;
}

.image-animation2 {
  animation: anima2 20s ease-in-out -5s infinite;
  transform: translateZ(0);
  top: -130px;
  right: 0;
  width: 200px;
  height: 237px;
  background-image: url(../../public/imgs/image2.png);
  background-size: contain;
}

.image-animation3 {
  animation: anima3 20s ease-in-out -3s infinite;
  transform: translateZ(0);
  top: -230px;
  left: 0;
  width: 400px;
  height: 400px;
  background-image: url(../../public/imgs/image3.png);
  background-size: contain;
}
